@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@200;400&display=swap');

html, body {
    height: 100%;
    /*background-color: #d4d4d4;*/
    background-color: #e8feff;
    font-weight: 200;
    font-family: 'Kanit', sans-serif;
    font-family: 'Anton', sans-serif;
    
  }
  h1 {
    color: rgb(22, 21, 22);
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
    background-color: rgba(255, 192, 203, 0);
  }

  h2 {
    color: rgb(171, 0, 183);
    font-family: 'Anton', sans-serif;
    background-color: pink;
  }
  html {
    display: table;
    margin: auto;
  }

  body {
    display: table-cell;
    vertical-align: middle;

  }